<p><h1>Rock, Paper or Scissors</h1></p>
<p><h2>Choose one</h2></p>
<form action="/welcome" method="post">
  <label for="name">
    Enter your name!
    <input type="text" name="enter_name">
  </label>
  <input type="submit" value="Submit">
</form>
