<style>
body {background-color: powderblue;}
h1   {color: black;}
h1   {text-align: center;}
h2   {color: black;}
h2   {text-align: center;}
form {text-align: center;}
</style>
<h2>1 player or Vs</h2>
<form action='/game-setup' method=post>
  <button name="mode_type" type="submit" value="1 player"><h2><img src="https://media.giphy.com/media/BHY3AK18ZSJEY/giphy.gif" height="400px" width="400px"></h2></button>
  <button name="mode_type" type="submit" value="Vs"><h2><img src="https://media.giphy.com/media/lojil9HflxEjOq4gBz/giphy.gif" height="400px" width="400px"></h2></button>
</form>
