
<style>
body {background-color: powderblue;}
h1   {color: black;}
h1   {text-align: center;}
h2   {color: black;}
h2   {text-align: center;}
form {text-align: center;}
</style>
<h1 style="color:blue;">
<h1>Welcome <%=session[:enter_name]%>!</h1>

<h2>Select a weapon</h2>

<form action='/store-weapon' method=post>
  <button name="choice" type="submit" value="Rock"><h2><img src="https://media.giphy.com/media/4hSS0ifJhTH3y/giphy.gif" height="400px" width="400px"></h2></button>
  <button name="choice" type="submit" value="Paper"><h2><img src="https://media.giphy.com/media/l3JDJ8hPoiNbAt6Uw/giphy.gif" height="400px" width="400px"></h2></button>
  <button name="choice" type="submit" value="Scissors"><h2><img src="https://media.giphy.com/media/4IL57vrZnSb1S/giphy.gif" height="400px" width="400px"></h2></button>
</form>
