<style>
body {background-color: powderblue;}
h1   {color: black;}
h1   {text-align: center;}
h2   {color: black;}
h2   {text-align: center;}
form {text-align: center;}
</style>
<h1><%=session[:enter_name]%> has selected <%=session[:choice]%></h1>
