<p><h1>Enter your name to play <%=session[:mode_type]%> mode</h1></p>
<form action="/store-names" method="post">
    <input type="text" name="enter_name">
    <input type="submit" value="Submit">
</form>
